torch==2.8.0
torchaudio==2.8.0
alias-free-torch==0.0.6
einops==0.8.2
einops-exts==0.0.4
huggingface-hub==0.36.0
importlib-resources==6.5.2
k-diffusion==0.1.1
laion-clap==1.1.7
pandas==2.3.3
pytorch-lightning==2.6.0
PyWavelets==1.8.0
safetensors==0.7.0
sentencepiece==0.2.1
torchaudio-augmentations==0.2.1
torchmetrics==1.8.2
transformers==4.47.0
wandb==0.21.3
webdataset==1.0.2
setuptools<81
